
<div class="main-margined" id="blog">
  <div class="row">
    <div class="col-md-12">
      <% if notice %>
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span></button>
      <p id="notice"><%= notice %></p>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
    <%= link_to 'New Entry',  new_blog_path, class: "btn btn-primary pull-right" %>
    <h1>Entries</h1>
    Today is <%= DateTime.now.in_time_zone('Indiana (East)').to_formatted_s(:stardate) %>
    </div>
  </div>
<% @blogs.each do |blog| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-x-12">
      <h2> <%= link_to blog.entry_for, edit_blog_path(blog) %>
      <% if blog.title.to_s.size > 0 %>  
       <% blog.title %>
      <% end %> 
     </h2>
      <% if blog.goals.to_s.size > 0 %>
      <h3>Goals</h3>
      <p><%= blog.goals.to_s %></p>
      <% end %>
      <% if blog.notes.to_s.size > 0 %>
      <h3>Musings</h3>
      <p><%= blog.notes.to_s %></p>
      <% end %>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-x-12">    
    <table class="table small responsive">
      <tr>
        <th>Weight</th>
        <th>Body Fat</th>
        <th>Systolic</th>
        <th>Diastolic</th>
        <th>AM Glucose</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td><%= blog.weight.to_s %></td>
        <td><%= blog.body_fat.to_s %></td>
        <td><%= blog.systolic.to_s %></td>
        <td><%= blog.diastolic.to_s %></td>
        <td><%= blog.am_glucose.to_s %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>Curls</th>
        <th>Kettlebells</th>
        <th>Push Ups</th>
        <th>Sit Ups</th>
        <th>Elip Time</th>
        <th>Elip Dist</th>
      </tr>
      <tr>
        <td><%= blog.curls.to_s %></td>
        <td><%= blog.kettlebells.to_s %>&nbsp;</td>
        <td><%= blog.pushups.to_s %></td>
        <td><%= blog.situps.to_s %></td>
        <td><%= blog.eliptical_time.to_s %></td>
        <td><%= blog.eliptical_dist.to_s %></td>
      </tr>
      <tr>
        <th>Meditation</th>
        <th>Yoga</th>
        <th>Energy</th>
        <th>Motivation</th>
        <th>Happiness</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td><%= blog.meditation.to_s %></td>
        <td><%= blog.yoga.to_s %></td>
        <td><%= blog.energy.to_s %></td>
        <td><%= blog.motivation.to_s %></td>
        <td><%= blog.happiness.to_s %></td>
        <td>&nbsp;</td>
      </tr> 
    </table>
    </div>
  </div>
<% end %>
</div>
