<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @blog.id %>
</p>

<p>
  <strong>Entry for:</strong>
  <%= @blog.entry_for %>
</p>

<p>
  <strong>Am glucose:</strong>
  <%= @blog.am_glucose %>
</p>

<p>
  <strong>Pm glucose:</strong>
  <%= @blog.pm_glucose %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @blog.weight %>
</p>

<p>
  <strong>Systolic:</strong>
  <%= @blog.systolic %>
</p>

<p>
  <strong>Diastolic:</strong>
  <%= @blog.diastolic %>
</p>

<p>
  <strong>Body fat:</strong>
  <%= @blog.body_fat %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @blog.energy %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @blog.motivation %>
</p>

<p>
  <strong>Happiness:</strong>
  <%= @blog.happiness %>
</p>

<p>
  <strong>Details:</strong>
  <%= @blog.details %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @blog.goals %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @blog.notes %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @blog.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @blog.updated_at %>
</p>

<p>
  <strong>Meditation:</strong>
  <%= @blog.meditation %>
</p>

<p>
  <strong>Yoga:</strong>
  <%= @blog.yoga %>
</p>

<p>
  <strong>Curls:</strong>
  <%= @blog.curls %>
</p>

<p>
  <strong>Kettlebells:</strong>
  <%= @blog.kettlebells %>
</p>

<p>
  <strong>Pushups:</strong>
  <%= @blog.pushups %>
</p>

<p>
  <strong>Situps:</strong>
  <%= @blog.situps %>
</p>

<p>
  <strong>Eliptical time:</strong>
  <%= @blog.eliptical_time %>
</p>

<p>
  <strong>Eliptical dist:</strong>
  <%= @blog.eliptical_dist %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
