<%= form_for(@nominee) do |f| %>
  <% if @nominee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nominee.errors.count, "error") %> prohibited this nominee from being saved:</h2>

      <ul>
      <% @nominee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :award %><br>
    <%= f.text_field :award %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
