<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-3">
    <div class="float_box">
    <h1>Hugo and Nebula Nominiees</h1>

    <p class="top100">  
      <%= render partial: 'nominees/search' %>
      <% if current_user.admin? %>
      <%= link_to 'Add Novel', new_nominee_path, class: "top20" %>
      <% end %>
    </p>
    
    </div>
  </div>

<div class="col-md-7">
<div class="panel panel-default" style="background-color:#f2f2f2;">
<div class="panel-body" id="novels">

      <% if @searched_for %> 
      <h2 class="h2">Search Terms: [<%= @searched_for %>]</h2>
      <% end %>

<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Award</th>
      <th>Author</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nominees.each do |nominee| %>
      <tr>
        <td><%= nominee.year %></td>
        <td><%= nominee.award %></td>
        <td><%= nominee.author %></td>
        <td>
          <% if nominee.link.present? %> 
            <%= link_to nominee.title, nominee.link %>
          <% else %> 
            <%= nominee.title %> 
          <% end %>           
          

          <br/>
          <% if not nominee._keywords.present? %> 
            no keyword
          <% end %>          
        </td>
        <td>
          <% if current_user.admin? %>
          <%= link_to nominee do %><i aria-hidden="false" class="glyphicon glyphicon-open"></i><% end %>&nbsp;&nbsp;
          <%= link_to edit_nominee_path(nominee) do %><i aria-hidden="false" class="glyphicon glyphicon-pencil"></i><% end %>&nbsp;&nbsp;
          <%= link_to nominee, method: :delete, data: { confirm: 'Are you sure?' }  do %><i aria-hidden="false" class="glyphicon glyphicon-trash"></i><% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>
</div>
<div class="col-md-1">
&nbsp;
</div>
</div>
</div>