<div class="row">
  <div class="col-xs-12 col-md-6 col-md-push-3">

<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @nominee.year %>
</p>

<p>
  <strong>Award:</strong>
  <%= @nominee.award %>
</p>

<p>
  <strong>Author:</strong>
  <%= @nominee.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @nominee.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @nominee.link %>
</p>

<%= link_to 'Edit', edit_nominee_path(@nominee) %> |
<%= link_to 'Back', nominees_path %>

</div>
</div>