<div class="main-margined">
<p id="notice"><%= notice %></p>

<h1>Listing Glossaries</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Word</th>
      <th>Definition</th>
      <th>Display</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @glossaries.each do |glossary| %>
      <tr>
        <td><%= glossary.id %></td>
        <td><%= glossary.word %></td>
        <td><%= glossary.definition %></td>
        <td><%= glossary.display %></td>
        <td><%= glossary.created_at %></td>
        <td><%= glossary.updated_at %></td>
        <td><%= link_to 'Show', glossary %></td>
        <td><%= link_to 'Edit', edit_glossary_path(glossary) %></td>
        <td><%= link_to 'Destroy', glossary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glossary', new_glossary_path, class: "btn btn-primary pull-right" %> %>
</div>