

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style='background:url(<%= asset_path "carousel1.jpg" %>);'></div>
                <div class="carousel-caption">
                    <h2>Who We Are!</h2>
                    <p><a class="btn btn-lg btn-primary" href="#about" role="button">Find Out More</a></p>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style='background:url(<%= asset_path "carousel2.jpg" %>);'></div>
                <div class="carousel-caption">
                    <h2>What We Do!</h2>
                    <p>You can put additional text in here as well</p>
                    <p><a class="btn btn-lg btn-primary" href="#faq" role="button">Find Out More</a></p>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style='background:url(<%= asset_path "carousel3.jpg" %>);'></div>
                <div class="carousel-caption">
                    <h2>What We Can Do For You!</h2>
                    <p><a class="btn btn-lg btn-primary" href="#portfolio" role="button">Find Out More</a></p>
                </div>
            </div>
        </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <h1>
                    Welcome to my Rails/Mongodb application!
                </h1>
                <p>This is my personal test/training/practice website.</p>
                <p>Built with:<br/>
                    
                    <ul style="width:12em;margin: 0 auto;">
                        <li style="text-align:left">Ruby <%= RUBY_VERSION %></li>
                        <li style="text-align:left">Rails <%= Rails.version %></li>
                        <li style="text-align:left">MongoDB/Mongoid</li>
                        <li style="text-align:left">Devise</li>
                        <li style="text-align:left">Pundit</li>
                        <li style="text-align:left">Twitter Bootstrap</li>
                    </ul>
               
                </p>
                <h2>New and Improved</h2>
                <p>Enhancing this site to make it <em>RESTful</em> with AngularJS!</p>
                <p><a href="https://github.com/bmckibben/barebones/blob/master/Rails4MongodbSetup.docx">Setup Instructions</a></p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="faq" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>FAQ</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-calendar fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>When Can I Start?</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="btn btn-light btn-primary">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Where Are You?</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="btn btn-light btn-primary">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-money fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>What Does It Cost?</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="btn btn-light btn-primary">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-university fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>How Does It Work?</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="btn btn-light btn-primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout" style="background: rgba(0, 0, 0, 0) url(<%= asset_path "callout.jpg" %>) no-repeat scroll center center / cover ;">
        <div class="text-vertical-center">
            <h1>UI/UX with Bootstrap!</h1>
        </div>
    </aside>
    <!-- Call to Action -->
    <% if false %>
    <aside class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-s-412 col-md-4 text-center">
                        <%= link_to image_tag("cta1.png"), root_path, style:"width:100%;max-width:500px;" %>
                    </a>
                </div>     
                <div class="col-s-412 col-md-4 text-center">    
                    <a href="#" ><%= link_to image_tag("cta2.png"), root_path, style:"width:100%;max-width:500px;" %></a> 
                </div>    
                <div class="col-s-412 col-md-4 text-center">    
                    <a href="#" ><%= link_to image_tag("cta3.png"), root_path, style:"width:100%;max-width:500px;" %></a>
                </div>
            </div>
        </div>
    </aside>
    <% end %>
    <section id="pmr" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Progressive Muscle Relaxation</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Paragraph One</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>                    
    <section id="pranayama" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Pranayama</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Paragraph One</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <section id="sadhu" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Mouni Sadhu</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Meditation</h2>
                                <p>Mouni Sadhu wrote about meditation, &ldquo;  FIRST must come the stopping of all thoughts. The Vichara ripens in the mind so that interest in the thinking process vanishes, and the stilling of the mind, so difficult in the past, becomes easy.&rdquo;</p>

                                <p>&ldquo;SECONDLY, when the mind is still, there arises a strong urge to be united with the whole, but what this whole is, cannot yet be conceived and I feel that I could never attain it alone. The closest comparison is melting and dissolving in That which alone Is. It is different to leaving the body or ego for there is no movement. One remains where one is, but is not what one was before. Everything that could be seen or felt before is now apart from me. No more can be told.&rdquo;</p>

                                <p>&ldquo;THIRDLY, the state of unity with the whole brings an unshakable certainty that only this state is real and permanent. That it is that last refuge which one has always sought, and from which one can never more be lost.There is nothing beyond it, for - it is all. &rdquo; </p>

                                <p>The absolute best guide to meditation is <a href="https://www.amazon.com/Meditation-Outline-Practical-Mouni-Sadhu/dp/1904658067/ref=sr_1_1?s=books&ie=UTF8&qid=1465994648&sr=1-1&keywords=9781904658061">Meditation: An Outline for Practical Study</a> by Mouni Sadhu. </p>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Who is Mouni Sadhu?</h2>
                                <p>Mouni Sadhu is the mystical name taken by Dymitr Sudoski, a noted Occultist and Mystic of the first half of the Twentieth Century. The word "mouni" means silent and "sadhu" refers to a wandering holy man. The author has tried many paths on the route to self-realization, and is uniquely qualified to relate the truths in this book. Steeped in the Hermetic schools which abounded at the turn of the 19th century, then embracing the teachings of Sri Ramana Maharshi and Vichara-yet never forgetting his Catholic faith-Mouni Sadhu successfully advances our mental synthesis and leads us to the door of True Self. Mouni's writing was based not only on rigorous study of the texts of his day, but on personal experience and diligent practice.(<a href="https://books.google.com/books/about/Meditation.html?id=ZOIa46E1vFUC">Google Books</a>)</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>An Outline for Practical Study</h2>
                                <p>I've read books on the subject, but the absolute best guide to meditation is <a href="https://www.amazon.com/Meditation-Outline-Practical-Mouni-Sadhu/dp/1904658067/ref=sr_1_1?s=books&ie=UTF8&qid=1465994648&sr=1-1&keywords=9781904658061">Meditation: An Outline for Practical Study</a> by Mouni Sadhu. </p>
                                <p>In the section of the book titled "Techniques of Meditation", Sadhu presents a methodology without any religous or mystical justification, just simple instruction. 
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>     
    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Portfolio</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Product One</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <h2>Product Two</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <h2>Product Three</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <h2>Product Four</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Product Five</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <h2>Product Six</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>

                    </div>               
                    <!-- /.row (nested) -->
                    <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

  <script type='text/javascript'>
      $(document).ready(function() {
          $('.carousel').carousel({
              interval: 3000
          })
      });
  </script>
