<div class="main-margined">
<div class="row">
<div class="col-md-10 col-md-offset-1 col-sm-12">

<h1>Musings</h1>


<div class="search-form panel panel-default" >
<div class="panel-body">
  <%= form_for :journals, html: {id: 'search_form'}, method: :get do |f| %>
    <div class="input-group inpug-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, nil, 
        placeholder: "Search Word",
        class: "form-control input-md" %>
      <span class="input-group-btn">
        <%= submit_tag "Find Musings", class: "btn btn-primary btn-lg"  %>
      </span>  
    </div>
  <% end %>
</div>  
</div>
<% unless @journals.nil?  %>
<div class="table-responsive">
<table class="table reqponsive-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>

    <% @journals.each do |journal| %>
      <tr>
        <td style="width:50px;"><%= link_to journal.entry_for, journals_show_musing_path(journal),  class: "btn btn-default btn-xs"  %></td>
        <td><%= journal.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>
<br>

<%= link_to "Home" , home_path , class: "btn btn-primary" %> 

</div>
</div>
</div>
