<div class="main-margined" id="blog">
  <div class="row">
    <div class="col-md-12">
      <% if notice %>
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span></button>
      <p id="notice"><%= notice %></p>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-3 col-sm-12">
    <%= link_to 'New Blog', journals_goal_path(id: 0), class: "btn btn-primary pull-right" %>
    <h1>Entries</h1>
    Today is <%= DateTime.now.in_time_zone('Indiana (East)').to_formatted_s(:stardate) %>
    </div>
  </div>
<% @journals.each do |journal| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-x-12">
      <h2><%= link_to journal.entry_for, journals_musings_path(journal) %></h2>
      <% if journal.goals.to_s.size > 0 %>
      <h3>Goals</h3>
      <p><%= journal.goals.to_s %></p>
      <% end %>
      <% if journal.notes.to_s.size > 0 %>
      <h3>Musings</h3>
      <p><%= journal.notes.to_s %></p>
      <% end %>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-x-12">    
    <table class="table small responsive">
      <tr>
        <th>Weight</th>
        <th>Body Fat</th>
        <th>Systolic</th>
        <th>Diastolic</th>
        <th>AM Glucose</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td><%= journal.weight.to_s %></td>
        <td><%= journal.body_fat.to_s %></td>
        <td><%= journal.systolic.to_s %></td>
        <td><%= journal.diastolic.to_s %></td>
        <td><%= journal.am_glucose.to_s %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>Curls</th>
        <th>Kettlebells</th>
        <th>Push Ups</th>
        <th>Sit Ups</th>
        <th>Elip Time</th>
        <th>Elip Dist</th>
      </tr>
      <tr>
        <td><%= journal.curls.to_s %></td>
        <td><%= journal.kettlebells.to_s %></td>
        <td><%= journal.pushups.to_s %></td>
        <td><%= journal.situps.to_s %></td>
        <td><%= journal.eliptical_time.to_s %></td>
        <td><%= journal.eliptical_dist.to_s %></td>
      </tr>
      <tr>
        <th>Meditation</th>
        <th>Yoga</th>
        <th>Energy</th>
        <th>Motivation</th>
        <th>Happiness</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td><%= journal.meditation.to_s %></td>
        <td><%= journal.yoga.to_s %></td>
        <td><%= journal.energy.to_s %></td>
        <td><%= journal.motivation.to_s %></td>
        <td><%= journal.happiness.to_s %></td>
        <td>&nbsp;</td>
      </tr> 
    </table>
    </div>
  </div>
<% end %>
</div>
