<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="field span3">
    <%= f.label :product_id %>
    <%= f.text_field :product_id %>
  </div>    
  <div class="field span6">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div> 
  <div class="span3">    
  </div>
</div>
<div class="row">
    <div class="span3 field">
      <%= f.label :author_last %>
      <%= f.text_field :author_last %>      
    </div>
    <div class="span3 field">
      <%= f.label :author_first %>
      <%= f.text_field :author_first %>      
    </div> 
    <div class="span6">    
    </div>
</div>
<div class="row">
  <div class="span9 field">
      <%= f.label :description %>
      <%= f.text_area :description %>
  </div> 
  <div class="span3">    
  </div>
</div>
<div class="row">
    <div class="span3 field">
    <%= f.label :publish_year %>
    <%= f.number_field :publish_year %>      
    </div>
    <div class="span3 field">
    <%= f.label :rating %>
    <%= f.number_field :rating %>      
    </div> 
    <div class="span3 field">
    <%= f.label :genre %>
    <%= f.text_field :genre %>      
    </div> 
    <div class="span3 field">
    <%= f.label :retail_price %>
    <%= f.text_field :retail_price %>      
    </div> 
</div> 
<div class="row">
  <div class="span3 field">
    <%= f.label :hugo %>
    <%= f.number_field :hugo %>    
  </div> 
  <div class="span3 field">
    <%= f.label :nebula %>
    <%= f.number_field :nebula %>    
  </div>     
    <div class="span6 field">
    <%= f.label :image %>
    <%= f.text_field :image %> 
    </div>
</div>     
<div class="row">
    <div class="span3 field">
    <%= f.label :status %>
    <%= f.number_field :status %>      
    </div>
    <div class="span3 field">
    <%= f.label :display_order %>
    <%= f.number_field :display_order %>      
    </div> 
    <div class="span3 field">
    <%= f.label :link %>
    <%= f.text_field :link %>      
    </div> 
    <div class="span3 field">
    <%= f.label :keyword %>
    <%= f.text_field :keyword %>     
    </div> 
</div>                  
<!-- ------------------------------------------- -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
