<table class="table table-condensed">
  <thead>
    <tr class="no-border">
      <th>Product</th>
      <th colspan="11">Title</th>
    </tr>
    <tr class="no-border">
      <th>Author</th>
      <th>Published</th>  
      <th>Genre</th>
      <th>Keyword</th>
      <th>Status</th>
      <th>Display order</th>
      <th>Image</th>
      <th>Retail price</th>
      <th>Link</th>
      <th>Rating</th>
      <th>Hugo</th>
      <th>Nebula</th>
    </tr>
    <tr class="no-border"> 
      <th colspan="9">Description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_id %></td>
        <td colspan="11"><h4><%= product.title %></h4></td>
      </tr>    
      <tr class="no-border">
        <td><%= product.author_last %>,&nbsp;<%= product.author_first %></td>
        <td><%= product.publish_year %></td> 
        <td><%= product.genre %></td>
        <td><%= product.keyword %></td>
        <td><%= product.status %></td>
        <td><%= product.display_order %></td>
        <td><%= product.image %></td>
        <td><%= product.retail_price %></td>
        <td><%= product.link %></td>
        <td><%= product.rating %></td>
        <td><%= product.hugo %></td>
        <td><%= product.nebula %></td>
      </tr>  
      <tr class="no-border">  
        <td colspan="9"><%= product.description %></td>        
        <td><%= link_to image_tag(asset_path("icons/eye.png"), :alt => "Show", :title => "Show"), product %></td>
        <td><%= link_to image_tag(asset_path("icons/pencil.png"), :alt => "Edit", :title => "Edit"), edit_product_path(product) %></td>
        <td><%= link_to image_tag(asset_path("icons/remove.png"), :alt => "Delete", :title => "Delete"), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path,  class: "btn btn-default" %>

<br/><br/>