
<div class="row" > 
  <div class="span12">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="span3">
    <p>
      <strong>Product:</strong>
      <%= @product.product_id %>
    </p>    
  </div>  
  <div class="span9">
    <p>
      <strong>Title:</strong>
      <%= @product.title %>
    </p>    
  </div>  
</div> 
<div class="row">
    <div class="span6">
      <p>
        <strong>Author last:</strong>
        <%= @product.author_last %>
      </p>      
    </div>
    <div class="span6">
      <p>
        <strong>Author first:</strong>
        <%= @product.author_first %>
      </p>      
    </div>  
</div>
<div class="row">
    <div class="span12">
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
    </div>  
</div>
<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>Display order:</strong>
  <%= @product.display_order %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @product.retail_price %>
</p>

<p>
  <strong>Link:</strong>
  <%= @product.link %>
</p>





<p>
  <strong>Publish year:</strong>
  <%= @product.publish_year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @product.genre %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @product.keyword %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>

<p>
  <strong>Hugo:</strong>
  <%= @product.hugo %>
</p>

<p>
  <strong>Nebula:</strong>
  <%= @product.nebula %>
</p>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %> 
<%= link_to 'Back', products_path , class: "btn btn-default"  %>